* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Poppins;
    background: radial-gradient(circle at top, #1a1a1a, #000);
    color: white;
    padding-bottom: 140px;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

body, button, p {
    font-family: 'Inter', sans-serif;
}

/* CONTAINER */
.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

/* HEADER */
.logo {
    width: 135px;
    height:135px;
    border-radius: 50%;
    object-fit:cover;
    
    box-shadow:0 0 25px rgba (225,225,225,0.15);
}

/* BOTÕES */
.links button {
    width: 100%;
    padding: 16px;
    margin: 10px 0;
    border-radius: 14px;
    border: 1px solid rgba(255,255,255,0.08);
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s;
}

.links button:hover {
    transform: scale(1.03);
}

.links button:active {
    transform: scale(0.97);
}

/* CONTEÚDO */
.conteudo {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 75%;
    background: #111;
    border-radius: 20px 20px 0 0;
    padding: 25px;
    overflow-y: auto;
    transition: 0.4s cubic-bezier(0.22, 1, 0.36, 1);
    z-index: 10;
}

.conteudo.ativo {
    bottom: 0;
}

/* FECHAR */
.fechar {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 22px;
    cursor: pointer;
}

/* GRID */
.integrantes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 15px;
}

.integrante {
    background: #1c1c1c;
    border-radius: 10px;
    padding: 10px;
}

.integrante img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

/* VÍDEO COMO RODAPÉ NORMAL */
.video-footer {
    margin-top: 40px;
    width: 100%;
    height: 200px;
}

.video-footer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MÚSICA */
.music-btn {
    position: fixed;
    bottom: 150px;
    left: 15px;
    background: #111;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 50%;
    font-size: 18px;
    z-index: 20;
}
